body {
    background-color: bisque;
}

h1 {
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

#timerContainer {
    /* border:black 5px solid; */
    background-color: green; 
    /* width: 30px; */
    height: 0px;
    font-family: 'Zen Dots', cursive;
    font-size: 40px;
    text-align: right;
}

#timer {
    font-family: 'Zen Dots', cursive;
    font-size: 40px;
    text-align: right;
    padding-right: 200px;
    /* padding-top: 500px; */
    height: 0px;
}

button {
    color: #fff;
    background-color: #000;
    font-family: 'Zen Dots', cursive;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50%;
    border-radius: 50%;
    border-width: 0px;   
}

.instructions {
    height: 200px;
}

.instruct1,
.instruct2 {
    font-family: 'Roboto', sans-serif;
    /* height: 0px; */
    margin: 0px;

}

.race-cars {
    /* start off screen left -50px */
    /* animation-name: enter; */
    /* animation-duration: 4s; */
    background-color: gray;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-top: 90px; */
    
}


.one {
    /* background-color: blue; */
    /* position: absolute; */
    z-index: 3;
    animation-name: enter;
    animation-duration: 6s;
    transform: scaleX(-1);
    width: 100px;
    height: 100px;
    margin: 20px;
}

.two {
    /* background-color: brown; */
    /* position: absolute; */
    z-index: 3;
    animation-name: enter;
    animation-duration: 4s;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top: 35px;
}

.race-track {
    display: block;
    position: absolute;
    z-index: 1;
    /* margin-top: 90px; */
    top: 0px;
    width: 100%;
    height: 300px;
}

.checkered {
    z-index: 2;
    display: block;
    position: absolute;
    /* height: fit-content; */
    /* top: 240px; */
    top: 0px;
    width: 300px;
    right: -80px;
}

@keyframes enter {
    from {
        position: relative;
        left: -500px;
    } to {
        position: relative;
        left: 0px;
    }
};