@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}


body { 
    background: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/rZJIMvhmliwmde8a6/videoblocks-top-view-of-sunflower-field-sunflowers-moving-in-the-wind_hlxym3at9l_thumbnail-1080_01.png') no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
  }

  main {
      /* display: flex; */
      flex-direction: column;
      align-items: center;
  }

h1 {
    background: url("https://wallpaperaccess.com/full/1155041.jpg");
    text-align: center;
    font-family: 'Zen Dots', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.scoreboard {
    height: 150px;

}

#racer1-score,
#racer2-score {
    color: cornsilk;
    background-color: crimson;
    text-align: center;
    font-size: 30px;
    width: 30px;
}

#timerContainer {
    /* border:black 5px solid; */
    /* background-color: green;  */
    /* width: 30px; */
    /* height: 0px; */
    font-family: 'Zen Dots', cursive;
    font-size: 50px;
    text-align: center;
}

#timer {
    font-family: 'Zen Dots', cursive;
    color: red;
    /* font-size: 40px; */
    /* text-align: right; */
    /* padding-right: 200px; */
    /* padding-top: 500px; */
    height: 0px;
    /* padding: 20px; */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgb(53, 13, 13);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 10px 10px rgba(0,0,0,.15);
}

/* #lightsContainer {
    height: 30px;
    background: coral;
} */

.lights {
    /* position: relative; */
    height: 100px;
    /* justify-content: center; */
}

.go-container {
    /* background-color: black; */
    vertical-align: top;
    margin: 0px;
}
#go {
    animation: go-blinker 0.25s linear 10;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: green;
    vertical-align: top;
    margin: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
@keyframes go-blinker {
    50% {
      opacity: 0;
    }
  }


.start-button {
    display: block;
    color: #fff;
    background-color: #000;
    font-family: 'Zen Dots', cursive;
    width: 100px;
    height: 100px;
    /* float: right; */
    /* margin-right: 50%; */
    border-radius: 50%;
    border-width: 10px; 
    margin: 0 auto;  

}

button:focus {
    outline: none;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}

#instruct-container1,
#instruct-container2 {
    background-color: rgb(5, 56, 5);
    /* opacity: 0.5; */
    /* margin: 0 auto; */
    width: 298px;
}
#instruct-container2 {
    width: 263px;
}

.instruct1,
.instruct2 {
    /* flex-direction: column;
    align-items: flex-end; */
    font-family: 'Roboto', sans-serif;
    /* height: 0px; */
    margin: 10px;
    font-size: 20px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}


.race-cars {
    /* start off screen left -50px */
    /* animation-name: enter; */
    /* animation-duration: 4s; */
    background-color: gray;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-top: 90px; */
    
}


.one {
    /* background-color: blue; */
    position: absolute;
    z-index: 3;
    animation-name: enter;
    animation-duration: 4s;
    transform: scaleX(-1);
    width: 120px;
    height: auto;
    margin: 20px;
}

.two {
    /* background-color: brown; */
    position: absolute;
    z-index: 3;
    animation-name: enter;
    animation-duration: 2s;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top: 40px;
    top: 130px;
}

.race-track {
    display: block;
    /* position: absolute; */
    z-index: 1;
    /* margin-top: 90px; */
    top: 0px;
    width: 100%;
    height: 300px;
}

.checkered {
    z-index: 2;
    display: block;
    position: absolute;
    /* height: fit-content; */
    /* top: 240px; */
    top: 0px;
    width: 300px;
    right: -80px;
}

#winner-container {
    display: flex;
    justify-content: center;
    
}

#winner1,
#winner2 {
    animation: blinker 3s linear 3;
    color:red;
    background-color: cornsilk;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 730px;
    margin: 0px;
    border: gold 3px solid;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:black;
    border-radius: 5px 65px 0px;
}

#winner1 {
    width: 815px;
}

#reset-container {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: lightcoral; */
    /* height: 20px; */
    margin-top: 20px;
    height: 60px;
    /* position: absolute; */
    
}
#reset-button {
    /* position: relative; */
    display: block;
    
    margin: 0 auto; 
    margin-top: 20px; 
    height: 30px;
    width: 100px;
    font-family: 'Zen Dots', cursive;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: red;
    border-radius: 35%;
    
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* @keyframes enter {
    from {
        
        left: -500px;
    } to {
        
        left: 0px;
    }
}; */